<div class="form">
    <div class="form-group">
        <label for="name">Name</label>
        <div class="form-fields">
            <input type="text" name="name" id="name" value="New Token"/>
        </div>
    </div>

    <div class="form-group">
        <label for="img">Image Path</label>
        <div class="form-fields">
            <file-picker name="img" id="img" type="image" value="icons/svg/mystery-man.svg"></file-picker>
        </div>
    </div>

    <div class="form-group">
        <label for="disposition">Disposition</label>
        <div class="form-fields">
            <select name="disposition" id="disposition">
                <option value="1" selected>Friendly</option>
                <option value="0">Neutral</option>
                <option value="-1">Hostile</option>
                <option value="-2">Secret</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="size">Size</label>
        <div class="form-fields">
            <select name="size" id="size">
                <option value="1">Fine</option>
                <option value="2">Diminutive</option>
                <option value="2">Tiny</option>
                <option value="3">Small</option>
                <option value="4" selected>Medium</option>
                <option value="5">Large</option>
                <option value="6">Huge</option>
                <option value="7">Gargantuan</option>
                <option value="8">Colossal</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="lantern">Equip Lantern?</label>
        <div class="form-fields">
            <input type="checkbox" name="lantern" id="lantern"/>
        </div>
        <div class="notes">Adds 30ft bright-light source.</div>
    </div>

    <button type="submit" id="save"><i class="fas fa-user-plus"></i>Create Token</button>
</div>
