.cth-app {
    .form {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        button[type="submit"] {
            align-self: center;
            padding: 1.5rem 3rem;
            margin: 1rem 0 0 0;
        }
        .avatar {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
    .form-group {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        flex-wrap: wrap;

        label {
            text-align: left;
            font-weight: bold;
            white-space: nowrap;
            flex: 0 0 30%;
        }

        .form-fields {
            flex: 1;
            display: flex;
            gap: 0.25rem;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-items: center;
        }

        .notes {
            margin-top: -0.75rem;
            flex: 0 0 100%;
            opacity: 0.7;
            font-size: 9pt;
            text-align: right;
            padding-left: 30%;
        }
        .size-buttons {
            flex: 1;
            button[data-size="4"] {
                float: left;
                height: calc(64px + 0.25rem);
                width: 40px;
                margin-right: 0.25rem;
                span {
                    height: auto;
                    position: relative;
                }
            }
            button {
                flex: 1 1 0;
                height: 32px;
                padding: 0;
                line-height: 32px;
                position: relative;
                span {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
            div {
                display: flex;
                gap: 0.25rem;
            }
            div:last-child {
                margin-top: 0.25rem;
            }
            .size-button {
                &.active {
                    background: var(--button-hover-background-color);
                }
                span {
                    @for $i from 1 through 7 {
                        &[data-size="#{$i}"] {
                            font-size: calc(6pt + (#{($i - 1)} * (18pt / 6)));
                        }
                    }
                    &[data-size="0"] {
                        font-size: 5pt;
                    }
                    &[data-size="8"] {
                        font-size: 28pt;
                    }
                }
            }
        }
    }
}
#cth-newToken {
    .buttons {
        display: flex;
        justify-content: center;
    }
    .avatar {
        width: 100%;
        display: flex;
        justify-content: center;
        img {
            height: 60px;
        }
        margin-bottom: 1rem;
    }
}

