.cth-app {
    .form {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        button[type="submit"] {
            align-self: center;
            padding: 1.5rem 3rem;
            margin: 1rem 0 0 0;
        }
    }
    }
    .form-group {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        flex-wrap: wrap;
        label {
            text-align: left;
            font-weight: bold;
            white-space: nowrap;
            flex: 0 0 30%;
        }
        .form-fields {
            flex: 1;
            display: flex;
            gap: 0.25rem;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-items: center;
        }
        .notes {
            margin-top: -0.75rem;
            flex: 0 0 100%;
            opacity: 0.7;
            font-size: 9pt;
            text-align: right;
            padding-left: 30%;
        }
    }

